*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 238, 238);
    /* background-image: url(./images/IPL-PNG-Logo_suqa7r.png); */

}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 800px;
    margin-top: 36px;
    padding: 26px;

}

.box{
    background-image: linear-gradient(to left,rgb(235, 106, 106),rgb(96, 96, 238));
    border-radius: 12px;
    padding: 16px;
    color: white;
    transition: all 0.3s;
}

.box:hover{
    box-shadow: 0px 5px 16px 4px rgba(163, 168, 240, 0.8);
    transform: scale(101%);
    cursor: pointer;
}
p{
    font-size: 14px;
    margin-top: 8px;
}

@media(max-width:700px){
    .heading{
        font-size: 26px;
    }

    p{
        font-size: 12px;
    }
}